body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family : "Kaushan Script", cursive ;
}
a {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #365E37;
    text-decoration: none;
}

h2 {
    display: flex;
    font-family : "Kaushan Script", cursive ;
    font-size: 48px;
    line-height: 52px;
    color: #590404;
    justify-content: center;
    text-align: center;
}

h3 {
    font-family : "Kaushan Script", cursive ;
    font-size: 36px;
    color: #590404;
    margin: -10px 0px 10px 0px;
}

h4 {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #365E37;
    font-weight: bold;
    text-decoration: none;
}

/* style header */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 0px 0px;
}

.navigation {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0px 20px 0px;
}

.regions {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.phototheme {
    display: flex;
    align-items: center;
    justify-content: center;
}

.themebordeaux {
    width: 300px;
    height: 50px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #590404;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    margin: 0px;
}

.themebourgogne {
    width: 300px;
    height: 50px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #9F1F36;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    margin: 0px;
}

.thememonde {
    width: 300px;
    height: 50px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #BD5911;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    margin: 0px;
}

.themelexique {
    width: 300px;
    height: 50px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #BDB611;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    margin: 0px;
}

.bandeautheme {
    display: flex;
    align-items: center;
    justify-content: center;
}




.produit{
    width: 800px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 20px 0px;
}

.taillebouteille{
    width: 120px;
}

.phototexte{
    width: 500px;
    height: 400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.bloc {
    margin: 0 auto;
    width: 250px;
    height: 80px;
    border-width:1px;
    border-style:solid;
    border-color:#590404;
    border-radius: 10px 10px 10px 10px;
    align-items: center;
}

.appelation {
    padding: 1px 0px 0px 0px;
    color: #590404;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.description {
    font-family: "Montserrat", sans-serif;;
    font-size: 16px;
    line-height: 20px;
    color: #365E37;
    text-align: center;
    margin: 30px;
    align-items: center;
    justify-content: center;
}



.tarif {
    width: 180px;
    height: 350px;
    text-align: center;
}

.petittextcolonne {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    text-align: center;
}

.picto {
    width: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.bouton-commande {
    display: inline-block;
    width: 150px;
    height: 30px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #365E37;
    text-decoration: none;
    border: 2px solid #365E37;
    border-radius: 5px;
    background-color: white;
  }

  .bouton-commande:hover, .bouton-commande:active {
    background-color: #365E37;
    color: white;
  }





  /* style footer */

.ligneverte {
    width: 800px;
    border: 10px;
    border-top: 1px solid #365E37;
}
.footer {
    height: 80px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coordonnees {
    width: 800px;
    background-color: #ffffff;
    text-align: center;
}
.contact-text {
    color: #000000;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
.info {
    display: inline-block;
    text-align: center;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 0px 20px 0px 20px;
}
.mail {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    display: inline-block;
    color: #000000;
}
.infosplus {
    color: #000000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}